torch==2.10.0
transformers==5.3.0
datasets==4.8.3
numpy==2.4.3
pandas==3.0.1
nltk==3.9.3
scikit-learn==1.8.0
matplotlib==3.10.8
openai==2.29.0
python-dotenv==1.2.2
huggingface-hub==1.7.2
gensim==4.4.0
joblib==1.5.3
scipy==1.17.1
Cython==3.2.4
sentencepiece==0.2.1
protobuf==7.34.1
accelerate==1.13.0
